<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora com Operação</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    
    <div class="container" id="app">
        <div class="jumbotron">
                <h1 class="display-5 text-dark">Calculadora Com Opração em Vue</h1>
                <p class="lead">Essa calculadora é bem parecida com a Calculadora Histórico, exceto que essa não mostra o resultado em lista.</p>
                <p class="lead">O layout também é um pouco diferente!</p>
                <hr class="my-4">
                <form>
                    <div class="form-group">
                        <label class="font-weight-bold text-dark" for="numero1">Primeiro Numero</label>
                        <input type="text" class="form-control col-8 text-dark" name="numero1" id="numero1" v-model.number="numero1" placeholder="Digite um numero" required/>
                        <small class="text-dark" id="passwordHelpInline" class="text-muted">
                            Digite apenas numeros com ou sem ponto. Exemplo: 1 2 3.5
                        </small>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold text-dark" for="selecione">Escolha uma operação</label>
                        <select class="form-control col-3" id="selecione" v-model="operacao">
                            <option value="" disabled>Selecione uma operação</option>
                            <option value="+">+</option>
                            <option value="-">-</option>
                            <option value="*">*</option>
                            <option value="/">/</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold text-dark" for="numero2">Segundo Numero</label>
                        <input type="text" class="form-control col-8" name="numero2" id="numero2" v-model.number="numero2" placeholder="Digite outro numero" required />
                        <small class="text-dark" id="passwordHelpInline" class="text-muted">
                            Digite apenas numeros com ou sem ponto. Exemplo: 1 2 3.5
                        </small>
                    </div>
                    
                    <button class="btn btn-success"  v-on:click.prevent="calcular()">Calcular</button>
                    <button class="btn btn-danger"  v-on:click.prevent="apagarTexto()">Excluir</button>
        
                    <div class="form-group">
                        <label class="font-weight-bold text-dark" for="resultado">Resultado</label>
                        <input class="form-control col-8 font-weight-bold" type="text" name="resultado" id="resultado" v-model="resultado" readonly/>
                    </div>
                </form>
            </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                numero1: null,
                numero2: null,
                operacao: '',
                resultado: '',
            },
            methods: {
                calcular: function() {
                    switch(this.operacao) {
                        case '+':
                            this.resultado = this.numero1 + this.numero2;
                            var conta = this.numero1 + '+' + this.numero2 + '=' + this.resultado;
                            this.historico.push(conta);
                            break;
                        case '-':
                            this.resultado = this.numero1 - this.numero2;
                            var conta = this.numero1 + '-' + this.numero2 + '=' + this.resultado;
                            this.historico.push(conta);
                            break;
                        case '*':
                            this.resultado = this.numero1 * this.numero2;
                            var conta = this.numero1 + '*' + this.numero2 + '=' + this.resultado;
                            this.historico.push(conta);
                            break;
                        case '/':
                            this.resultado = this.numero1 / this.numero2;
                            var conta = this.numero1 + '/' + this.numero2 + '=' + this.resultado;
                            this.historico.push(conta);
                            break;
                        default:
                            alert("opção inválida!");
                    }
                },
                apagarTexto() {
                    this.numero1 = '';
                    this.numero2 = '';
                    this.operacao = '';
                    this.resultado = '';
                }
            }
           
        })
    </script>

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
</body>
</html>